{% extends 'base.html' %}
{% block content %}

<main>
    <!-- Add Post Form -->
    <section id="create">
        <div class="form">
            <h2>New Post</h2>

            <form class="create-form" method="post">
                {% csrf_token %}

                <!-- Title Field -->
                <div>
                    <label for="{{ form.title.id_for_label }}">Title:</label>
                    {{ form.title }}
                    {% if form.title.errors %}
                        <div class="error">{{ form.title.errors }}</div>
                    {% endif %}
                </div>

                <!-- Image URL Field -->
                <div>
                    <label for="{{ form.image_url.id_for_label }}">Post Image URL:</label>
                    <div class="helptext" id="id_image_url_helptext">
                        {{ form.image_url.help_text }}
                    </div>
                    {{ form.image_url }}
                    {% if form.image_url.errors %}
                        <div class="error">{{ form.image_url.errors }}</div>
                    {% endif %}
                </div>

                <!-- Content Field -->
                <div>
                    <label for="{{ form.content.id_for_label }}">Content:</label>
                    {{ form.content }}
                    {% if form.content.errors %}
                        <div class="error">{{ form.content.errors }}</div>
                    {% endif %}
                </div>

                <!-- Form button -->
                <button type="submit">Publish</button>
            </form>
        </div>
    </section>
</main>

{% endblock %}